.button__close {
  background: url(../../../images/close_icon.svg);
  border: 0;
  background-position: center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 600px) {
  .button__close {
    right: 0;
    background: url(../../../images/close_icon_20px.svg);
    width: 20px;
    height: 20px;
  }
}