.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 358px;
  height: 252px;
}

@media screen and (max-width: 600px) {
  .form {
    width: 238px;
    height: 272px;
  }
}