.card__image {
  display: block;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 930px) {
  .card__image {
    height: 83%;
  }
}

@media screen and (max-width: 320px) {
  .card__image {
    max-height: 282px;
  }
}