.button__edit {
  border: 0;
  width: 24px;
  height: 24px;
  background: url(../../../images/Edit\ Button.svg);
  /* background-position: center; */
  margin-left: 18px;
  }

@media screen and (max-width: 750px) {
    .button__edit {
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 320px) {
    .button__edit {
      width: 18px;
      height: 18px;
      background: url(../../../images/edit_button18px.svg);
    }
  } 